<app-nav-bar></app-nav-bar>
<br><br><br><br>


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container mb-5">
      <h1 class="display-5">Seleccione un actor para ver su información</h1>
      <div class="col-md-12 col-lg-12 order-md-last">
        <app-tabla-actor [listadoActores]='listadoActores' (eventoActorSeleccionado)="cargarActorSeleccionado($event)">
        </app-tabla-actor>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 centrado">
        <app-listado-peliculas [actorElejido]="actorSeleccionado" ></app-listado-peliculas>
      </div>
      <div class="col-md-4 centrado">
        <app-nacionalidad-actor [paisElejido]="paisCompleto"></app-nacionalidad-actor>
      </div>
      <div class="col-md-4 centrado">
        <app-informacion-actor [actorElejido]="actorSeleccionado"></app-informacion-actor>
      </div>
    </div>
  </div> <!-- /container -->
</main>


<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2021 Matias Ezequiel Palmieri</p>
</footer>