<app-nav-bar></app-nav-bar>
<br><br>



<div class="container mt-5">
    <main>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <app-tabla-actor [listadoActores]='listadoActores' (eventoActorSeleccionado)="cargarActorSeleccionado($event)"></app-tabla-actor>
                
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Alta Pelicula..</h4>
                <form [formGroup]="forma" class="needs-validation" (ngSubmit)="altaPelicula()">
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre">
                        </div>

                        <div class="col-sm-12">
                            <label for="estreno" class="form-label">Fecha de estreno</label>
                            <input type="date" class="form-control" id="estreno">
                        </div>

                        <div class="col-sm-12">
                            <label for="foto" class="form-label">Foto de pelicula</label>
                            <input type="file" class="form-control" id="foto">
                        </div>

                        <div class="col-md-12 mb-4">
                            <label for="tipo" class="form-label">Tipo de pelicula</label>
                            <select class="form-select" id="tipo" required>
                                <option value="e">Elejir tipo...</option>
                                <option value="terror">Terror</option>
                                <option value="comedia">Comedia</option>
                                <option value="amor">Amor</option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3">
                        <h4 class="mb-3">Actor</h4>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="nombreActor">Nombre</label>
                                <input name="nombreActor" type="text" class="form-control" id="nombreActor" value={{actorSeleccionado?.nombre}} disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="apellidoActor">Apellido</label>
                                <input name="apellidoActor" type="text" class="form-control" id="apellidoActor" value={{actorSeleccionado?.apellido}} disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="emailActor">Email</label>
                                <input name="emailActor" type="text" class="form-control" id="emailActor" value={{actorSeleccionado?.email}} disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="paisActor">Pais</label>
                                <input name="paisActor" type="text" class="form-control" id="paisActor" value={{actorSeleccionado?.pais}} disabled>
                            </div>
                        </div>
                    </div>

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Alta de pelicula</button>
                </form>

            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2021 Matias Ezequiel Palmieri</p>
    </footer>
</div>