<div *ngIf="repartidorElejido != null">
    <div class="card centrado" style="width: 18rem;">
        <div class="card-body bg-dark centrado">
            <h5 class="letrasBlancas">Nombre: {{repartidorElejido.nombre}} </h5>
            <h6 class="letrasBlancas">DNI: {{repartidorElejido.dni}}</h6>
            <h6 class="letrasBlancas">Edad: {{repartidorElejido.edad}}</h6>
            <h6 class="letrasBlancas">Movilidad Propia: {{repartidorElejido.unidadPropia}}</h6>
            <h6 class="letrasBlancas">Capacidad Transporte: {{repartidorElejido.capacidadTransporte}}</h6>
        </div>
    </div>
</div>